# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/projects/*/sim
/projects/*/imp
__pycache__
.direnv
.envrc
*.lock.hjson
